<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
<h2>Add Question</h2>

<form method="post">
<input name="question" placeholder="Question"><br>
<input name="o1" placeholder="Option 1"><br>
<input name="o2" placeholder="Option 2"><br>
<input name="o3" placeholder="Option 3"><br>
<input name="o4" placeholder="Option 4"><br>
<input name="answer" placeholder="Correct Answer (1-4)"><br>

<button>Add Question</button>
<h2>All Questions</h2>

{% for q in questions %}
    <p>{{ q[1] }}</p>

    <!-- EDIT BUTTON -->
    <a href="/edit/{{q[0]}}">
        <button>Edit</button>
    </a>

    <!-- DELETE BUTTON (optional) -->
    <a href="/delete/{{q[0]}}">
        <button style="background:red; color:white;">Delete</button>
    </a>

    <hr>
{% endfor %}
    
</form>

<a href="/logout">Logout</a>
</div>

</body>
</html>

