<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
</head>

<body>

<div class="center">

    <h1>Welcome to Quiz App</h1>

    <!-- Tenor Animation -->
    <div class="tenor-gif-embed" 
         data-postid="15012553340570449591" 
         data-share-method="host" 
         data-aspect-ratio="1" 
         data-width="300px">
    </div>

    <br><br>

    <a href="/login">
        <button>Start Quiz</button>
    </a>

</div>

<!-- Script (keep OUTSIDE div & only once per page) -->
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</div>

</body>
</html>
